In [13]:
import pandas as pd

# Importar o arquivo CSV
df = pd.read_csv('databases/scratch.csv')

# Imprima o DataFrame
df.head()

          id
0  779412450
1  694593257
2  748396816
3  538003547
4  743656794

In [14]:
df.head()

          id
0  779412450
1  694593257
2  748396816
3  538003547
4  743656794

In [15]:
df = df.value_counts().rename_axis('unique_values').reset_index(name='counts')
df

    unique_values  counts
0       430392384       1
1       435114033       1
2       786291475       1
3       784304744       1
4       783867628       1
..            ...     ...
75      743152619       1
76      743094479       1
77      743067607       1
78      743005815       1
79      823445363       1

[80 rows x 2 columns]

In [16]:
# quantidade de valores únicos iguais a 2
df[df['counts'] == 2]

Empty DataFrame
Columns: [unique_values, counts]
Index: []