In [22]:
import pandas as pd

# Importar o arquivo CSV
df = pd.read_csv('scratch.csv')

# Imprima o DataFrame
df.head()

          id
0  762920546
1  741538829
2  746828658
3  788039165
4  743114202

In [23]:
df.head()

          id
0  762920546
1  741538829
2  746828658
3  788039165
4  743114202

In [24]:
df = df.value_counts().rename_axis('unique_values').reset_index(name='counts')
df

     unique_values  counts
0        258848998       1
1        776305282       1
2        776500221       1
3        777112739       1
4        777462946       1
..             ...     ...
193      746326256       1
194      746828658       1
195      746862804       1
196      747114456       1
197      823445363       1

[198 rows x 2 columns]

In [25]:
# quantidade de valores únicos iguais a 2
df[df['counts'] == 2]

Empty DataFrame
Columns: [unique_values, counts]
Index: []